################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PNET-semestralka-blazor-app/FileContentIndex
