<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Přihlášení</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                    <InputText class="form-control mb-3" @bind-Value="loginModel.Email" placeholder="Email" />
                    <InputText type="password" class="form-control mb-3" @bind-Value="loginModel.Password" placeholder="Heslo" />
                    <button type="submit" class="btn btn-warning w-100">Přihlásit</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private LoginModel loginModel = new();

    public class LoginModel
    {
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
    }

    private Task HandleLogin()
    {
        // TODO: Napoj na ASP.NET Identity nebo session
        Console.WriteLine($"Přihlášení: {loginModel.Email}");
        return Task.CompletedTask;
    }
}
